body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(181, 73, 91);
}


.wrapper{
    background-color: rgb(245, 110, 133);
    border-radius: 20px;
    text-align: center;
    margin: 0;
    padding: 20px;
    
}


.text{
    color:  azure;
}

p{
    font-size: 25px;
}

/*Bet Text Space and Button*/
.newBets input[type="text"]{
    display: none;
    text-align: center;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: azure;
    background-color:rgb(181, 73, 91);
    border: 2px solid azure;
    cursor: pointer;
}

.show-Bet input[type="text"]{
    display: inline;
}

.newBets input[type="button"]{
    display: none;
    text-align: center;
    width: 60px;
    height: 30px;
    font-size: 20px;
    color: azure;
    background-color:rgb(181, 73, 91);
    margin: 15px;
    cursor: pointer;
    border: 2px solid azure;
}

.show-Bet input[type="button"]{
    display: inline;
}

.newBets input[type="button"]:hover{
    transform: scale(1.08);
    background-color: azure;
    color: rgb(181, 73, 91);

}

/* Yes and No Buttons*/
.yesNo input[type="button"]{
    font-size: 20;
    color: azure;
    padding: 10px;
    border: 2px solid rgb(181, 73, 91);
    border-radius: 10px;
    background-color: rgb(181, 73, 91);
    margin: 10px;
    cursor: pointer;
    transition: transform(0.2s);
    display: none;
}

.yesNo input[type="button"]:hover{
    transform: scale(1.05);
}

.show-yesNo input[type="button"]{
    display: inline;
}

/* Play and Start Over Button */
.play input[id="play"]{
    font-size: 20;
    color: azure;
    padding: 10px;
    border: 2px solid rgb(181, 73, 91);
    border-radius: 10px;
    background-color: rgb(181, 73, 91);
    margin: 10px;
    cursor: pointer;
    transition: transform(0.2s); 
}

.startOver input[id="start-over"]{
    font-size: 20;
    color: azure;
    padding: 10px;
    border: 2px solid rgb(181, 73, 91);
    border-radius: 10px;
    background-color: rgb(181, 73, 91);
    margin: 10px;
    cursor: pointer;
    transition: transform(0.2s); 
    display: none;
}

.play-Clicked input[id="play"]{
    display: none;
}

.start-Over-Show input[id="start-over"]{
    display: inline;
}

.buttons input[type="button"]:hover ,.play input[type="button"]:hover{
    transform: scale(1.1);
}

/*Cards*/
.cards{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.card{
    height: auto;
    width: 150px;
    margin: 10px 10px;
    transition: transform(0.2);
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgb(0, 0 , 0, 1);
}

.card:hover{
    transform: scale(1.05);
}

.glow{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0px 30px rgb(255, 247, 247);
}

/*Points System*/
.points{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    
}

.tokens, .currentBets {
    color: azure;
    padding: 10px;
    border: 2px solid rgb(181, 73, 91);
    border-radius: 10px;
    background-color: rgb(181, 73, 91);
}
