body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(181, 73, 91);
}

.wrapper{
    background-color: rgb(245, 110, 133);
    border-radius: 20px;
    text-align: center;
    margin: 0;
    padding: 10px;

}

.cards{
    display: flex;
    justify-content: center;
    text-align: center;
}

.card{
    height: auto;
    width: 150px;
    margin: 10px;
}
